.img-1, .img-3{
    width:100%;
    height: 100%;
    object-fit: cover !important;
    overflow: hidden;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.img-2{
    width:100%;
    height: 100%;
    object-fit: cover !important;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.aboutPage{
    padding-top: 0%;

}
.cedema-head{
    margin: 2rem;
    font-size:larger;
}
.cedema-description{
    margin: 2rem;
    margin-top: 0%;
}
.persona1{
    width: 40%;
    height: 80%;
    justify-content: right;

}
.text-aboutPage{
    text-align: center;
    font-size: xx-large;
}
.text-title{
    display: inline-block;
    position: relative;
    text-align: center;
    padding-bottom: 5px;
    color: var(--space-cadet);
}
.text-title::before {
    content: "";
    position: absolute;
    left: 0; /* si quiero que vaya de derecha a izquierda, pongo right: 0; */
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--cool-gray);
    transition: width .25s ease-out;
}
.text-title:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .cedema-description {
        flex-direction: column !important;
    }
}
.img-quienes_acompañan{
    max-width: 100%;
    min-width: 100%;
    display: flex;
}