.hidden {
  display: none;
  transform: translateX(-120px);
  animation: slideLeft 1s ease-out;
  transition: 1s ease-out;
}

.showButton {
  /* POSICION */
  position: fixed;
  right: -100px; /* quiero que aparezca desde la derecha */
  bottom: 50px; /* posicion desde abajo para arriba */
  font-size: 5rem;
  color: var(--cool-gray);
  cursor: pointer;
  transform: translateX(-120px);
  animation: slideLeft 1s ease-out;
  transition: 1s ease-out;
}

/* ANIMACION DE APARICION y SALIDA */
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-120px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(-100px);
  }
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .showButton {
    font-size: 3rem;
    transition: 1s ease-out;
  }
}