.card-container{
    margin: 10px 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza el efecto */
    &:hover{
        transform: scale(1.05);
    }
}

.card-image {
  margin-top: 1rem;
    height: 15rem;
    object-fit: cover;
}

.body{
    position: relative;
    text-align: center;
    line-height: 1.6;
}

.card-text{
    font-size: 25px;
}

.card-img-overlay {
    pointer-events: none; /* Permite que los eventos pasen a la imagen debajo */
}

.text-gray{
    color: #616161;
    border-color: #616161;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    border-color: white;
}

.text-head{
    color: #616161;
    border-color: #616161;
    font-size: 13px;
}

.btn{
    padding: 5px 10px;
    color: #616161;
    border-color: #616161;
    background-color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    pointer-events: auto;
    &:hover{
        background-color: var(--crimson);
        border-color: var(--crimson);
    }
}

.btn-filtro {
  margin-top: 5px;
}

=========
.card-personal{
    text-align: center;
    position: relative;
    display: flex;
    font-size: medium;
    flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin-bottom: 2rem;
    gap: 10px; /* Espacio entre las cards */
}

.img-personal{
    width: 73%;
    height: 55%;
}

.link {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto, no aplica el color por defecto de los enlaces */
  }
  
  .link:hover, .link:focus {
    text-decoration: none; /* Elimina el subrayado también cuando se pasa el cursor */
    color: inherit; /* Mantiene el color del texto sin cambios */
  }
  