/* Asegura que el carrusel ocupe el 100% de ancho y de altura */
.carousel-container {
    position: relative;
    width: 100%;
    height: 26rem; /* Ocupa toda la altura de la pantalla */
    background-color: #000; /* Fondo oscuro opcional */
    padding: 0;
  }
  
.carousel-item{
    position: relative;
    width: 100%;
    height: 100%; /* Ocupa toda la altura de la pantalla */
}
  /* Asegura que las imágenes ocupen todo el ancho del carrusel, se recorten verticalmente y se oscurezcan */
  .carousel-image {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 26rem; /* Ocupa toda la altura de la pantalla */
    object-fit: cover; /* Recorta la imagen verticalmente para que cubra el área */
    filter: brightness(50%); /* Aplica un filtro para oscurecer la imagen */
  }
  

  .carousel-caption{
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(70deg, rgba(244, 174, 45, 0.3)50%, transparent 50%);
  }
 .carousel-text{
  position: absolute;
  font-size: 3rem;
  left: 10%;
  top: 20%;
 }

 @media (max-width: 768px) {
    .carousel-text{
      font-size: 2rem;
    }
    .carousel-caption{
      background: transparent;
    }
 }