.contactos {
  color: var(--antiflash-white);
  background-color: var(--savoy-blue);
  background-image: url('client/public/img/tierra-wallpaper'); 
  padding: 3rem 0;

  .redes-contact {
      color: var(--cool-gray);
  }
  * {
    color: var(--antiflash-white);
  }

}

.section-form-contacto {
  padding-bottom: 2rem;
  .section-title.titulo-contact {
    /* transition: 1s ease-out; */
  }

  .form-contact {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--antiflash-white);
    max-width: 400px;
    min-width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .form-label {
    margin-top: 10px;
  }
  textarea.form-control{
    height: 100px;
  }
  .form-control {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .btn-form-contact {
    font-size: 1.1rem;
    margin: 1rem auto;
    padding: 0.8rem 2rem;
    color: var(--white);
    /* border: none; */
    border-color: var(--space-cadet);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &:hover {
      color: var(--antiflash-white);
      border-color: var(--crimson);
    }
  }

  .info-left-form {
    padding: 10px;
    font-size: 1.5rem;
    max-width: 400px;
    min-width: 250px;
  }
}

.tierra-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Esto asegura que la imagen cubra toda la pantalla */
  opacity: 0.3; /* Ajusta la opacidad para que no opaque el contenido */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

@media screen and (max-width: 768px) {
  .section-title.titulo-contact {
    font-size: 3rem;
    /* transition: 1s ease-out; */
  }
}

@media screen and (max-width: 625px) {
  .mail-fondo {
    bottom: -500px;
  }
}