
.header {
  /* background-image: linear-gradient(var(--cool-gray),var(--antiflash-white)); */
  background-color: var(--antiflash-white);
  
  .nav-link {
    color: var(--space-cadet);
    font-size: 1.1rem;
    border: 2px transparent solid;
    &:hover {
      opacity: .8;
      background-color: #2e6cb322;
      border-bottom: 2px var(--savoy-blue) solid;
    }
  }
  .disabled {
    color: var(--cool-gray);
  }
}
.offcanvas-backdrop {
background-color: var(--space-cadet);
}
/* .offcanvas-header {
  border-bottom: 1px solid var(--space-cadet);
} */
.offcanvas-header-outline {
  align-self: center;
  margin: 0;
  width: 200px;
  height: 2px;
  background-color: var(--space-cadet);
}

.header-link {
  padding: 20px 10px;
}
 .logo-inicio {
  padding: 10px;
  /* border-right: 1px solid var(--space-cadet); */
  transition: filter 0.3s ease;
}
.logo-inicio:hover{
  filter: opacity(50%); 
}