.section{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container{
    margin: 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seeMoreBtn{
    display: flex;
    justify-content: center;
    width: 6rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    background-color: var(--crimson);
    border-color: var(--crimson);
    &:hover{
        background-color: #8f213bff;
        border-color: #8f213bff;
    }
}

.act-container{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}