.container-listlinks{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.title-list{
    justify-content: center;
    position: relative;
    width: auto;
}
.title-list::before{
    content: "";
    position: absolute;
    left: 0; /* si quiero que vaya de derecha a izquierda, pongo right: 0; */
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--cool-gray);
    transition: width .25s ease-out;
}
.title-list:hover::before {
    width: 100%;
}


.container-links{
}

.container-list{
    background-color: var(--antiflash-white);
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.container-filters{
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
}

.dropdown-filters{
    width: 10rem;
}

.btnDropdown{
    font-size: 18px;
    border: none;
    background-color: transparent;
    margin: 1rem;
    border-bottom: 2px solid var(--cool-gray);
}

@media (max-width: 839px) {
    .container-links {
        flex-direction: column;
    }

    .container-filters {
        order: -1; /* Filtros arriba */
        margin-bottom: 1rem; 
    }

    .container-list {
        order: 0; /* Tarjetas abajo */
    }
    .dropdownButton {
        width: 100%; 
    }
}