.section-nosotros{
    background-color:  var(--antiflash-white);
    height: 250px;
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    box-sizing: border-box;
}
.img-nosotros {
    /* display: flex; */
    /* justify-content: center;  */
    /* align-items: center;  */
    padding: 10px 0;
    height: auto;
    text-align: center;
}

.img-nosotros img{
    object-fit: cover !important;
    max-width: 80%; 
    /* max-height: 90%; */
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.section-description-cedema{
    margin-right: 10px;
}
.text-cedema{
    font-size: 18px;
}
.nosotros-row {
  margin: 0;
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

