.section-nosotros{
    background-color:  var(--antiflash-white);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
    text-align: center;
}
.img-nosotros {
    /* display: flex; */
    /* justify-content: center;  */
    /* align-items: center;  */
    height: auto;
    text-align: center;
}

.img-nosotros img{
    object-fit: cover !important;
    max-width: 80%; 
    border-radius: 10px;
}
.section-description-cedema{
    margin-right: 60px;
    text-align: left;
}
.text-cedema{
    font-size: 22px;
}
.nosotros-row {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
@media (max-width: 992px) {
    .section-description-cedema{
        text-align: center;
        margin-right: 50px;
        margin-left: 50px;
        padding: 2rem;
    }
    .section-nosotros{
        margin: 0px;
    }
}

